.gradle
.idea
build/
*.iml
report*
log*
repo
gauge-gradle-sample/libs
gauge-gradle-sample/report*
gauge-gradle-sample/log*
gauge-gradle-sample/.gauge
local.properties
plugin/out
gauge-gradle-sample/out
bin/
**/build/
.java-version
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
plugin/.settings/org.eclipse.buildship.core.prefs
gauge-gradle-sample/.settings/org.eclipse.buildship.core.prefs
